<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="~/Content/Mian.css" rel="stylesheet" />
    <title>Graphics Web </title>
</head>
<body>
    <nav class="  navbar navbar-expand-sm fixed-top Nbarr  mb-5 ">
       
     
            <div class="Right_part">

                <h3>Graphic-Solution</h3>

            </div>


            <div class="nav-link">
                <ul>
                    <li><a href="Index">Home</a></li>
                    <li><a href="About">About Us</a></li>
                    <li><a href="Contact">Contact Us</a></li>
                </ul>
         
              </div>
        
      

    </nav>

    <div>
        @RenderBody()
    </div>

   



    <footer class="mt-5 text-white
            bg-black mb-3">
        <div class=" footar_main container-fluid py-5 ">
           
                <div class="">
                    <div class="Item_list">
                        <p class="fs-3 mx-4">Categories</p>
                        <ul class="mx-3">

                            <li>
                                <p >Full Stack with C#.Net</p>
                            </li>
                            <li>
                                <p>WEb designign</p>
                            </li>
                            <li>
                                <p>Graphics Designig</p>
                            </li>
                            <li>
                                <p>Video Editing</p>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="">
                    <div class="Item_list">
                        <p class="fs-3 mx-4">About</p>
                        <ul>

                            <li>
                                <p>About Us</p>
                            </li>
                            <li>
                                <p>How it Works</p>
                            </li>
                            <li>
                                <p>Latest Designing </p>
                            </li>
                            <li><p>News</p></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="Item_list">
                        <p class="fs-3">Details</p>
                       <p>phone-No</p>
                        <p>09484071294</p>
                        <p>Emial-Id</p>
                        <p>Junaidalam85000@gmail.com</p>
                    </div>
                </div>

            </div>
        <div class=" text-center   text-white ">
            <div class="">
                <p class="fs-5 text-capitalize">© Alam,s solution All Reserved @@2024</p>
            </div>
        </div>
        
    </footer>



    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>
</html>