
@{
    Layout = "~/views/shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div class="container pt- my-5" style="background-color: #ebebe0;">
        <div class="row">
            <div class="col-lg-6 py-5 mx-5">
               
                    <p class="fs-5 "style="color:blue;">
                        // OUR SERVICE
                    </p>
                    <p class="fs-1 text-capitalize">
                        We Offer a Wide
                        Variety of IT Services
                    </p>
            </div>
            <div class="col-lg-3">
                <div class="">
                    <button id="btnCon" >Countinue For More Information</button>
                </div>

            </div>
           
        </div>

    </div>
    <div class="container py-5 " style="        background-color: #ffe6e6;">
        <div class="row">
            <div class=" col-lg-5" style="margin-left:120px;">
                <div class="Code_text">
                    <p class="fs-2">Web Development</p>
                    <p class="">
                        If you are looking for
                        High Quality Website Design and Development Services to increase your Business Presence Or Start Selling Your Product Online, You are Looking at right website. We create hand coded,
                        cutting edge,User friendly Responsive websites. We will help you from start to finish.
                    </p>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="Code_text">
                    <p class="fs-2">UI/UX Design</p>
                    <p>
                        We have done many modern app ui ux , web, and dashboard
                        UI UX designs for various kinds of businesses; Blog & Magazine, Education, NFT, Blockchain, Cryptocurrency, Non-fungible token,
                        Real Estate, Wedding, Legal, Saloon, Gym, Health & Fitness, e-commerce UI Design
                    </p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-5 " style="margin-left:120px;">
                <div class="Code_text">
                    <p class="fs-2">Graphics Designing</p>
                    <p class="">
                        If you are looking for
                        High Quality Graphics Design and Development Services to increase your Business Presence Or Start Selling Your Product Online, You are Looking at right Graphics for your Socail Comping. We create 
                         Highe quwality Desgning  Responsive And Attractvie . We will help you from start to finish.
                    </p>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="Code_text">
                    <p class="fs-2">Video Editing</p>
                    <p class="text-capitalize">
                        We have done many Videos like Weddign, Blog
                        for various kinds of businesses; Blog & Magazine, Education, Realated Containe Add's for Studio's
                       for kind of editng we will help you Zero to Hero
                </div>
            </div>

        </div>
    </div>
</body>
</html>
